@using MJ.Models.WrathAndGlory;
@{
    List<Creature__WAG> listecreature = Model;

    List<string> ListeRace = new List<string>();
    ListeRace.Add("Chaos");
    ListeRace.Add("Ork");
    ListeRace.Add("Necron");
    ListeRace.Add("Aeldari");
    ListeRace.Add("Drukhari");
    ListeRace.Add("Tau");
    ListeRace.Add("Genstealer");
    ListeRace.Sort();

    int i = 1;
}

<script type="text/javascript">
    function SelectCreature(Id) {
        console.log(document.getElementById("SelectedCreature_" + Id).checked);
        if (document.getElementById("SelectedCreature_" + Id).checked === true) {
            document.getElementById("Creature_" + Id).style.backgroundColor = "black";
            document.getElementById("SelectedCreature_" + Id).checked = false;
        }
        else if (document.getElementById("SelectedCreature_" + Id).checked === false) {
            document.getElementById("Creature_" + Id).style.backgroundColor = "red";
            document.getElementById("SelectedCreature_" + Id).checked = true;
        }
    }
</script>

<div style="width:100%;">
    <button class="bouton align-mid">Afficher la liste des créatures sélectionnées</button>
</div>

@foreach (string race in ListeRace)
{
    <h2 style="text-align:center;font-size:45px;margin-bottom:50px;margin-top:50px;">@race.ToUpper()</h2>
    <div class="row col-10" style="margin-left:auto;margin-right:auto;">
        @foreach (Creature__WAG creature in listecreature.Where(c => c.Race == race))
        {
            <div class="col-2 align-mid carte" id="Creature_@creature.ID" onclick="SelectCreature(@creature.ID)">
                <input id="SelectedCreature_@creature.ID" value="false" type="checkbox" style="display:none;" />
                <img src="@creature.CheminImage" width="95%" height="95%" class="align-mid" />
                <div class="cartetexte">
                    <label style="background-color:#b83333;width:100%;text-align:center;font-size:large;">@creature.Nom</label>
                    <table width="95%" style="margin-bottom:20px;margin-left:15px;margin-right:0px;">
                        <tr>
                            <th style="text-align:left;width:40%;">Tier</th>
                            <th style="border-left: 1px solid white; border-right: 1px solid white;">1</th>
                            <th style="border-left: 1px solid white; border-right: 1px solid white;">2</th>
                            <th style="border-left: 1px solid white; border-right: 1px solid white;">3</th>
                            <th style="border-left: 1px solid white;">4</th>
                        </tr>
                        <tr>
                            <th style="text-align: left; width: 40%;">Menace</th>
                            <th style="border-left: 1px solid white; border-right: 1px solid white;">@creature.MenaceT1</th>
                            <th style="border-left: 1px solid white; border-right: 1px solid white;">@creature.MenaceT2</th>
                            <th style="border-left: 1px solid white; border-right: 1px solid white;">@creature.MenaceT3</th>
                            <th style="border-left: 1px solid white;">@creature.MenaceT4</th>
                        </tr>
                    </table>
                    <table width="100%">
                        <tr>
                            <th width="14%">F</th>
                            <th width="14%" style="border-left: 1px solid white; border-right: 1px solid white;">E</th>
                            <th width="14%" style="border-left: 1px solid white; border-right: 1px solid white;">A</th>
                            <th width="14%" style="border-left: 1px solid white; border-right: 1px solid white;">I</th>
                            <th width="14%" style="border-left: 1px solid white; border-right: 1px solid white;">FM</th>
                            <th width="14%" style="border-left: 1px solid white; border-right: 1px solid white;">Int</th>
                            <th width="14%" style="border-left: 1px solid white;">Soc</th>
                        </tr>
                        <tr>
                            <th>@creature.Force</th>
                            <th style="border-left: 1px solid white; border-right: 1px solid white;">@creature.Endurance</th>
                            <th style="border-left: 1px solid white; border-right: 1px solid white;">@creature.Agilite</th>
                            <th style="border-left: 1px solid white; border-right: 1px solid white;">@creature.Intelligence</th>
                            <th style="border-left: 1px solid white; border-right: 1px solid white;">@creature.ForceMentale</th>
                            <th style="border-left: 1px solid white; border-right: 1px solid white;">@creature.Initiative</th>
                            <th style="border-left: 1px solid white;">@creature.Sociabilite</th>
                        </tr>
                    </table>
                </div>
            </div>
        }
    </div>
}


<style>
    th {
        text-align: center;
    }

    .carte {
        cursor: pointer;
        position: relative;
        overflow: hidden;
        border-radius: 15px;
        margin-bottom: 40px;
    }

    .cartetexte {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
        color: white;
        text-align: center;
        transition: transform 0.3s;
        background: linear-gradient(0deg, rgba(0, 0, 0, .5) 100%, rgba(255, 255, 255, 0) 100%);
        transform: translateY(100%);
    }

    .carte:hover .cartetexte {
        transform: translateY(0);
    }

    /*aussi possible de le faire avec une animation de carte qui se retourne https://codepen.io/corvcode/pen/oVdZQw */
</style>