@using MJ.Models.WrathAndGlory;
@{
    List<Creature_WAG> listecreature = Model;

    List<string> ListeRace = new List<string>();
    ListeRace.Add("Chaos");
    ListeRace.Add("Ork");
    ListeRace.Add("Necron");
    ListeRace.Add("Aeldari");
    ListeRace.Add("Drukhari");
    ListeRace.Add("Tau");
    ListeRace.Add("Genstealer");
    ListeRace.Sort();

    var creaturetest = new Creature_WAG(38, "Stormboy", "https://localhost:44385/Images/WrathAndGLory/Bestiaire/Ork/Stormboy.jpg", 'E', 'E', 'T', 'T', 4, 6, 3, 3, 2, 1, 3, "Ork", "38");
    creaturetest.MotsCle = new List<MotCle>();
    creaturetest.MotsCle.Add(new MotCle(38, "Ork", "Une espèce xenos brutale qui a toujours soif de violence et ne vite que pour la guerre."));
    creaturetest.Defense = 2;
    creaturetest.Blessures = 6;
    creaturetest.Stress = 2;
    creaturetest.Resistance = "5 (Vêtements déchirés: 0 Ar)";
    creaturetest.Conviction = 1;
    creaturetest.Resolution = 1;
    creaturetest.Vitesse = 6;
    creaturetest.Taille = 'M';
    creaturetest.ListeCompetences = new List<Competence>();
    creaturetest.ListeCompetences.Add(new Competence(99, "Par Défaut", "Correspond à toutes les compétences non nomées.", 5));
    creaturetest.ListeCompetences.Add(new Competence(2, "Capacité de Combat", "Cette compétence représente votre habilité au combat rapproché, que ce soit avec une arme ou à mains nues. Cela comprend l'identification, la connaissance et l'entretien des armes de mêlée.\nSi vous essayer de toucher quelqu'un, la Défense de votre cible détermine le SD de votre test. La complexité et la rareté d'une arme de mêlée détermine le SD pour la préparation, l'identfication et l'entretien d'une arme.", 7));
    creaturetest.ListeCompetences.Add(new Competence(3, "Capacité de Tir", "Cette compétence représente votre habilieté à utiliser les armes à feu et autre armes à distance. Cela comprend l'identification, la connaissance et l'entretien de ces armes.\nSi votre personnage tir sur quelqu'un, la Défense de sa sible détermine le SD du test. La compexité de la rareté d'une arme à distance peuvent détermir le SD pour la réparer, l'identifier et l'entretien de cette arme.", 4));
    creaturetest.ListeCompetences.Add(new Competence(18, "Vigilance", "Cette compétence représente votre capacité à observer des détails et des altérations de l'environnement, ainsi qu'à trouver des choses cachées.\nLa difficulté des tests est déterminée par la difficulté à remarquer quelque chose. Si vous essayer de repérer une personne qui se cache, le SD du test est basé sur son score de Furtivité.", 4));
    creaturetest.ListeCompetences.Add(new Competence(98, "Passive", "Correspond à la Vigilance Passive d'un personnage", 2));
    creaturetest.Bonus = "ON Y VA! Si cette Menace est Engagé au début de son Tour, elle gagne +2 dégâts aux attaques de mêlée.";
    creaturetest.Aptitudes = new List<Aptitude>();
    creaturetest.Aptitudes.Add(new Aptitude(1, "CRI DE GUERRE", "Arrosez-les! \nUn Boy Ork Charge l'ennemi le plus proche en tirant sauvagement avec son Kalibr'. Faites un test de Capacité de Tir contre la Defense de la cible dans le cadre de la Charge; s'il touche, il n'inflige pas de dégâts, mais tous les ennemis à moins de 30m du Boy Ork doivent faire un est de Peur SD 3."));
    creaturetest.Aptitudes.Add(new Aptitude(2, "ACTION", "Kalibr': 10 + 1 DS / Portée 6 - 12 - 18 / Rafale 1 / Pistolet, Waaagh!\nKikoup': 7 + 3 DS / Portée 1 / Fiable, Waaagh!\nFrag à manche (2): 9 + 5 DS / Portée 16 / Explosion (6)"));
    creaturetest.Aptitudes.Add(new Aptitude(3, "DETERMINATION", "Dépensez 1 Ruine pour lancer 4d6"));
}

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        const buttons = document.querySelectorAll('.bouton_popover');

        buttons.forEach(button => {
            const popoverId = button.getAttribute('data-popover-id');
            const popover = document.querySelector(`.popover[data-popover-id="${popoverId}"]`);

            button.addEventListener('mouseenter', function () {
                popover.classList.add('show');
            });

            button.addEventListener('mouseleave', function () {
                popover.classList.remove('show');
            });
        });
    });
    document.addEventListener('DOMContentLoaded', function () {
        const buttons = document.querySelectorAll('.bouton_popover');

        buttons.forEach(button => {
            const popoverId = button.getAttribute('data-popover-id');
            const popover = document.querySelector(`.popoverv2[data-popover-id="${popoverId}"]`);

            button.addEventListener('mouseenter', function () {
                popover.classList.add('show');
            });

            button.addEventListener('mouseleave', function () {
                popover.classList.remove('show');
            });
        });
    });


        

    function SelectCreature(Id) {
        if (document.getElementById("SelectedCreature_" + Id).checked === true) {
            document.getElementById(Id).style.backgroundColor = "black";
            document.getElementById("SelectedCreature_" + Id).checked = false;
            document.getElementById(Id).classList.remove("CreatureSelected");
        }
        else if (document.getElementById("SelectedCreature_" + Id).checked === false) {
            document.getElementById(Id).style.backgroundColor = "red";
            document.getElementById("SelectedCreature_" + Id).checked = true;
            document.getElementById(Id).classList.add("CreatureSelected");
        }
    }

    function ShowSelectedCreatureList() {
        const SelectedCreatures = document.querySelectorAll('div.CreatureSelected');

        const ids = [];

        SelectedCreatures.forEach(Crea => {
            if (Crea.id) {
                ids.push(parseInt(Crea.id));
            }
        });

        $.ajax({
            type: 'POST',
            url: '/WrathAndGlory/AfficherListeCreature',
            data: JSON.stringify(ids),
            contentType: 'application/json; charset=utf-8',
            success: function (res) {
                $("#DivAffichageCreatureSelectionnee").html(res);
                $("#DivBestiaire").css("display", "none");
            },
            error: function (res) {
                console.log(res.responseText);
            }
        });
    }
</script>


@*<div style="position: relative; width: fit-content;">
    <div class="popover" data-popover-id="1">
        <p>@motcle.Description</p>
    </div>
    <button class="popover-button" data-popover-id="1">@motcle.Nom</button>
</div>*@

@*https://codepen.io/Malgus__/pen/RNbzYGa*@


<div style="width:100%;padding:30px;" class="row">
    <div class="col-1">
        <img src="@creaturetest.CheminImage" height="300" />
    </div>
    <div class="col-11">
        <div style="display: flex; height:100%;">
            <table style="height:100%;margin-right:10px;border-right: 1px solid white;">
                <tr>
                    <td class="tdTM" style="font-weight: bold;">Tier</td>
                    <td class="tdTM" style="padding-right: 50px; font-weight: bold;">Menace</td>
                </tr>
                <tr>
                    <td class="tdTM">1</td>
                    <td class="tdTM" style="padding-right: 50px;">@creaturetest.MenaceT1</td>
                </tr>
                <tr>
                    <td class="tdTM">2</td>
                    <td class="tdTM" style="padding-right: 50px;">@creaturetest.MenaceT2</td>
                </tr>
                <tr>
                    <td class="tdTM">3</td>
                    <td class="tdTM" style="padding-right: 50px;">@creaturetest.MenaceT3</td>
                </tr>
                <tr>
                    <td class="tdTM">4</td>
                    <td class="tdTM" style="padding-right: 50px;">@creaturetest.MenaceT4</td>
                </tr>
            </table>
            <div style="width:40%;">
                <table style="width: 100%;height:5vh;margin-top:15px;text-align:center;">
                    <tr>
                        <td style="width: 14%; font-weight: bold;">FORCE</td>
                        <td style="width: 14%; border-left: 1px solid white; font-weight: bold;">ENDURANCE</td>
                        <td style="width: 14%; border-left: 1px solid white; font-weight: bold;">AGILITÉ</td>
                        <td style="width: 14%; border-left: 1px solid white; font-weight: bold;">INITIATIVE</td>
                        <td style="width: 14%; border-left: 1px solid white; font-weight: bold;">FORCE MENTALE</td>
                        <td style="width: 14%; border-left: 1px solid white; font-weight: bold;">INTTELLIGENCE</td>
                        <td style="width: 14%; border-left: 1px solid white; font-weight: bold;">SOCIABILITÉ</td>
                    </tr>
                    <tr>
                        <td>@creaturetest.Force</td>
                        <td style="border-left: 1px solid white;">@creaturetest.Endurance</td>
                        <td style="border-left: 1px solid white;">@creaturetest.Agilite</td>
                        <td style="border-left: 1px solid white;">@creaturetest.Initiative</td>
                        <td style="border-left: 1px solid white;">@creaturetest.ForceMentale</td>
                        <td style="border-left: 1px solid white;">@creaturetest.Intelligence</td>
                        <td style="border-left: 1px solid white;">@creaturetest.Sociabilite</td>
                    </tr>
                </table>
                <div style="display:flex; margin-top:2vh; margin-left:1.5vw;">
                    <label style="margin-right: 20px;font-weight:bold;">Mots-Clés:</label>
                    @if (creaturetest.MotsCle != null)
                    {
                        int i = 1;
                        foreach (MotCle MC in creaturetest.MotsCle)
                        {
                            <div style="position: relative; width: fit-content;">
                                <div class="popover" data-popover-id="@i">
                                    <p style="margin:0">@MC.Description</p>
                                </div>
                                <button class="bouton_popover" data-popover-id="@i" style="color: #b32020;">@MC.Nom</button>
                            </div>
                            i++;
                        }
                    }
                </div>
                <table style="width: 100%; text-align: center; margin-top: 2vh;">
                    <tr>
                        <td style="width: 50%; font-weight: bold;">RÉSISTANCE</td>
                        <td style="width: 16.5%; border-left: 1px solid white; font-weight: bold; ">DÉFENSE</td>
                        <td style="width: 16.5%; border-left: 1px solid white; font-weight: bold;">BLESSURES</td>
                        <td style="width: 16.5%; border-left: 1px solid white; font-weight: bold;">STRESS</td>
                    </tr>
                    <tr>
                        <td>@creaturetest.Resistance</td>
                        <td style="border-left: 1px solid white;">@creaturetest.Defense</td>
                        <td style="border-left: 1px solid white;">@creaturetest.Blessures</td>
                        <td style="border-left: 1px solid white;">@creaturetest.Stress</td>
                    </tr>
                </table>
                <table style="width: 100%; text-align: center; margin-top: 1.5vh;">
                    <tr>
                        <td style="width: 25%; font-weight: bold;">CONVICTION</td>
                        <td style="width: 25%; border-left: 1px solid white; font-weight: bold;">RÉSOLUTION</td>
                        <td style="width: 25%; border-left: 1px solid white; font-weight: bold;">VITESSSE</td>
                        <td style="width: 25%; border-left: 1px solid white; font-weight: bold;">TAILLE</td>
                    </tr>
                    <tr>
                        <td>@creaturetest.Conviction</td>
                        <td style="border-left: 1px solid white;">@creaturetest.Resolution</td>
                        <td style="border-left: 1px solid white;">@creaturetest.Vitesse</td>
                        <td style="border-left: 1px solid white;">@creaturetest.Taille</td>
                    </tr>
                </table>
                <div style="margin-top: 2vh; margin-left: 1.5vw;">
                    <label style="font-weight:bold;">Bonus:</label>
                    <label>@creaturetest.Bonus</label>
                </div>
            </div>
            <div style="width:50%;">
                <div style="display:flex; margin-top:1.5vh; margin-left:1.5vw;">
                    <label style="margin-right: 20px;font-weight:bold;">Compétences:</label>
                    @if (creaturetest.ListeCompetences != null)
                    {
                        int i = 10;
                        foreach (Competence comp in creaturetest.ListeCompetences)
                        {
                            <div style="position: relative; width: fit-content;">
                                <div class="popoverv2" data-popover-id="@i">
                                    <p style="margin:0">@comp.Description</p>
                                </div>
                                <button class="bouton_popover" data-popover-id="@i" style="color: #b32020;">@if (comp.Nom != "Passive")
                                {<text> @comp.Nom @comp.Reserve </text> }
                            else
                            { <text> (@comp.Nom @comp.Reserve) </text>}</button>
                            </div>
                            i++;
                        }
                    }
                </div>
                <div style="margin-top: 1.5vh; margin-left: 1.5vw;">
                    <label style="font-weight:bold;">Aptitudes</label><br />
                    @foreach (Aptitude Ap in creaturetest.Aptitudes)
                    {
                        <label style="text-decoration: underline;">@Ap.Type</label>
                        <pre>@Ap.Description</pre>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<div id="DivBestiaire">
    <div style="width:100%;">
        <button class="bouton align-mid" onclick="ShowSelectedCreatureList()">Afficher la liste des créatures sélectionnées</button>
    </div>

    @foreach (string race in ListeRace)
    {
        <h2 style="text-align:center;font-size:45px;margin-bottom:50px;margin-top:50px;">@race.ToUpper()</h2>
        <div class="row col-10" style="margin-left:auto;margin-right:auto;">
            @foreach (Creature_WAG creature in listecreature.Where(c => c.Race == race))
            {
                <div class="col-2 align-mid carte" name="Creature_@creature.ID" id="@creature.ID" onclick="SelectCreature(@creature.ID)">
                    <input id="SelectedCreature_@creature.ID" value="false" type="checkbox" style="display:none;" />
                    <img src="@creature.CheminImage" width="95%" height="95%" class="align-mid" />
                    <div class="cartetexte">
                        <label style="background-color:#b83333;width:100%;text-align:center;font-size:large;">@creature.Nom</label>
                        <table width="95%" style="margin-bottom:20px;margin-left:15px;margin-right:0px;">
                            <tr>
                                <th style="text-align:left;width:40%;">Tier</th>
                                <th style="border-left: 1px solid white; border-right: 1px solid white;">1</th>
                                <th style="border-left: 1px solid white; border-right: 1px solid white;">2</th>
                                <th style="border-left: 1px solid white; border-right: 1px solid white;">3</th>
                                <th style="border-left: 1px solid white;">4</th>
                            </tr>
                            <tr>
                                <th style="text-align: left; width: 40%;">Menace</th>
                                <th style="border-left: 1px solid white; border-right: 1px solid white;">@creature.MenaceT1</th>
                                <th style="border-left: 1px solid white; border-right: 1px solid white;">@creature.MenaceT2</th>
                                <th style="border-left: 1px solid white; border-right: 1px solid white;">@creature.MenaceT3</th>
                                <th style="border-left: 1px solid white;">@creature.MenaceT4</th>
                            </tr>
                        </table>
                        <table width="100%">
                            <tr>
                                <th width="14%">F</th>
                                <th width="14%" style="border-left: 1px solid white; border-right: 1px solid white;">E</th>
                                <th width="14%" style="border-left: 1px solid white; border-right: 1px solid white;">A</th>
                                <th width="14%" style="border-left: 1px solid white; border-right: 1px solid white;">I</th>
                                <th width="14%" style="border-left: 1px solid white; border-right: 1px solid white;">FM</th>
                                <th width="14%" style="border-left: 1px solid white; border-right: 1px solid white;">Int</th>
                                <th width="14%" style="border-left: 1px solid white;">Soc</th>
                            </tr>
                            <tr>
                                <th>@creature.Force</th>
                                <th style="border-left: 1px solid white; border-right: 1px solid white;">@creature.Endurance</th>
                                <th style="border-left: 1px solid white; border-right: 1px solid white;">@creature.Agilite</th>
                                <th style="border-left: 1px solid white; border-right: 1px solid white;">@creature.Intelligence</th>
                                <th style="border-left: 1px solid white; border-right: 1px solid white;">@creature.ForceMentale</th>
                                <th style="border-left: 1px solid white; border-right: 1px solid white;">@creature.Initiative</th>
                                <th style="border-left: 1px solid white;">@creature.Sociabilite</th>
                            </tr>
                        </table>
                    </div>
                </div>
            }
        </div>
    }
</div>

<div id="DivAffichageCreatureSelectionnee"></div>


<style>
    pre{
        overflow: hidden;
        white-space: pre-wrap;
        font-size:medium;
        font-family: Arial;
    }

    .bouton_popover{
        background: none;
        border: none;
        color: white;
        font-weight: bold;
    }

    .popover {
        text-align: center;
        display: none;
        position: absolute;
        top: -80px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 100;
        color: black;
        max-width: 500px;
        min-width: 300px;
    }

        .popover.show {
            display: block;
        }
        
        
    .popoverv2 {
        text-align: center;
        display: none;
        position: absolute;
        top: -115px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 100;
        color: black;
        max-width: 1000px;
        min-width: 300px;
        border-radius:10px;
    }

        .popoverv2.show {
            display: block;
        }




    .tdTM {
        width: 70px !important;
        text-align: center;
    }

    th {
        text-align: center;
    }

    .carte {
        cursor: pointer;
        position: relative;
        overflow: hidden;
        border-radius: 15px;
        margin-bottom: 40px;
    }

    .cartetexte {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
        color: white;
        text-align: center;
        transition: transform 0.3s;
        background: linear-gradient(0deg, rgba(0, 0, 0, .5) 100%, rgba(255, 255, 255, 0) 100%);
        transform: translateY(100%);
    }

    .carte:hover .cartetexte {
        transform: translateY(0);
    }

    /*aussi possible de le faire avec une animation de carte qui se retourne https://codepen.io/corvcode/pen/oVdZQw */
</style>