<h1 style="width:fit-content;" class="align-mid">SYSTEME GILEAD</h1>

<h3 style="width:fit-content;margin-top:50px;" class="mx-auto d-block">LES MONDES DU NOYAU</h3>

<div class="container row mx-auto">
    <div onclick="location.href='@Url.Action("Avachrus", "WrathAndGlory")'" style="cursor:pointer;width:fit-content;" class="col-2 mx-auto d-block">
        <img src="~/Images/WrathAndGLory/Avachrus.jpg" style="border-radius:15px;" width="200" height="200" class="mx-auto d-block" />
        <label class="align-mid" style="width: fit-content; font-weight: bold; font-size: 25px; ">AVACHRUS</label>
    </div>

    <div onclick="location.href='@Url.Action("Nethreus", "WrathAndGlory")'" style="cursor:pointer;width:fit-content;" class="col-2 mx-auto d-block">
        <img src="~/Images/WrathAndGLory/Nethreus.jpg" style="border-radius:15px;" width="200" height="200" class="mx-auto d-block" />
        <label class="align-mid" style="width:fit-content;font-weight:bold;font-size:25px;">NETHREUS</label>
    </div>

    <div onclick="location.href='@Url.Action("Ostia", "WrathAndGlory")'" style="cursor:pointer;width:fit-content;" class="col-2 mx-auto d-block">
        <img src="~/Images/WrathAndGLory/Ostia.jpg" style="border-radius:15px;" width="200" height="200" class="mx-auto d-block" />
        <label class="align-mid" style="width: fit-content; font-weight: bold; font-size: 25px; ">OSTIA</label>
    </div>

    <div onclick="location.href='@Url.Action("Enoch", "WrathAndGlory")'" style="cursor:pointer;width:fit-content;" class="col-2 mx-auto d-block">
        <img src="~/Images/WrathAndGLory/Enoch.jpg" style="border-radius:15px;" width="200" height="200" class="mx-auto d-block" />
        <label class="align-mid" style="width: fit-content; font-weight: bold; font-size: 25px; ">ENOCH</label>
    </div>

    <div onclick="location.href='@Url.Action("GileadPrimus", "WrathAndGlory")'" style="cursor:pointer;width:fit-content;" class="col-2 mx-auto d-block">
        <img src="~/Images/WrathAndGLory/GileadPrimus.jpg" style="border-radius:15px;" width="200" height="200" class="mx-auto d-block" />
        <label class="align-mid" style="width: fit-content; font-weight: bold; font-size: 25px; ">GILEAD PRIMUS</label>
    </div>
</div>
<hr style="color:white;width:60%; height:5px;" class="d-block mx-auto" />


<h3 style="width:fit-content;margin-top:50px;" class="mx-auto d-block">L'ÉTENDU</h3>

<div class="container row mx-auto">
    <div onclick="location.href='@Url.Action("Charibdion", "WrathAndGlory")'" style="cursor:pointer;width:fit-content;" class="col-2 mx-auto d-block">
        <img src="~/Images/WrathAndGLory/Charibdion.jpg" style="border-radius:15px;" width="200" height="200" class="mx-auto d-block" />
        <label class="align-mid" style="width: fit-content; font-weight: bold; font-size: 25px; ">CHARIBDION</label>
    </div>

    <div onclick="location.href='@Url.Action("BourbierDuVide", "WrathAndGlory")'" style="cursor:pointer;width:fit-content;" class="col-2 mx-auto d-block">
        <img src="~/Images/WrathAndGLory/BourbierDuVide.jpg" style="border-radius:15px;" width="200" height="200" class="mx-auto d-block" />
        <label class="align-mid" style="width: fit-content; font-weight: bold; font-size: 25px; ">LE BOURBIER DU VIDE</label>
    </div>

    <div onclick="location.href='@Url.Action("PersephonesRegret", "WrathAndGlory")'" style="cursor:pointer;width:fit-content;" class="col-2 mx-auto d-block">
        <img src="~/Images/WrathAndGLory/PersephonesRegret.jpg" style="border-radius:15px;" width="200" height="200" class="mx-auto d-block" />
        <label class="align-mid" style="width: fit-content; font-weight: bold; font-size: 25px; ">PERSEPHONE'S REGRET</label>
    </div>
</div>
<hr style="color:white;width:60%; height:5px;" class="d-block mx-auto" />

<h3 style="width:fit-content;margin-top:50px;" class="align-mid">LES MONDES EXTÉRIEURS</h3>

<div class="container row mx-auto">
    <div onclick="location.href='@Url.Action("Vulkaris", "WrathAndGlory")'" style="cursor:pointer;width:fit-content;" class="col-2 mx-auto d-block">
        <img src="~/Images/WrathAndGLory/Vulkaris.jpg" style="border-radius:15px;" width="200" height="200" class="mx-auto d-block" />
        <label class="align-mid" style="width: fit-content; font-weight: bold; font-size: 25px; ">VULKARIS</label>
    </div>

    <div onclick="location.href='@Url.Action("Trollius", "WrathAndGlory")'" style="cursor:pointer;width:fit-content;" class="col-2 mx-auto d-block">
        <img src="~/Images/WrathAndGLory/Trollius.jpg" style="border-radius:15px;" width="200" height="200" class="mx-auto d-block" />
        <label class="align-mid" style="width: fit-content; font-weight: bold; font-size: 25px; ">TROLLIUS</label>
    </div>
</div>



<p>
    <h1>SYSTEME GILEAD</h1>
    Le système Gilead est isolé du reste de l'Immperium a cause de la grande faille et de la cicatrix maledictum (depuis 3 années).
    Un jour la flotte d'un marchand est passé par le détroit d''Andraste pour arrivé dans le système Gilead.
    Le chef de cette flotte marchande: Jakel Varonius, il est devenu le dirigant du système par la suite.

    <h2>MONDES DU NOYAU</h2>
    <h3>AVACHRUS</h3>
    Monde-Forge
    ~10 milliards hbs
    Chaleur extrême côté jour et froid extrême côté nuit.
    Tout se passe sous la surface. Beaucoup de fonderies. Un anneau entour la planète, anneau de chantier navals et docks spaciaux.
    Fonderies, fortesses, forges et d'anciennes structures cohabitent sur la planète.
    Ascenseurs orbitaux entre la surface et l'anneau.
    Si un Moteur Eternel tombe en panne, c'est une catastrophe sans précédent qui condamnerait plusieurs milions d'âmes à la mort en quelques instants (comme sur Illiarch).

    Ordre sacré de technoprêtre "Suspire" (les membres son des Magos), soccupe des Moteurs Eternels.
    Ils ont un grand pouvoir politique.

    L'inquisiteur Argyle de la forteresse de l'Ordo Malleus sur Imperia.

    Des équipes de skitarii et membre de la suite d'Argyle sont allez sur Illiarch pour ratisser les décombre et transférer des artéfacts vers Imperia.

    Les lunes d'Avachrus sont devenus des refuges pour les pirates et corsiares.
    La Legio Kaurthos a déserté beaucoup de fortifications et avec les Moteurs Eternels font partie des archéotechnologies que les pillards convoitent.
    Les raids xenos et renegats sont chiants mais il y a un anticode qui infeste des systèmes isolés, pour l'Archdomina Vakuul c'est le plus inquiétant.
    Des rummeurs disent que dans l'Adeptus Mechanicus il y a une nouvelle religion de technohérésie ave un Magos fou qui créérait des machines horribles.

    Des membre du Mechanicus pratique le péché d'innovation et on trahi les precepte du Dieu-Machine pour rentrer dans les rangs blasphematoires des HERETEKS (Le Mechanicum Noir).
    Dans les fonderies perdues dd'Avachrus et les lunes cachent toujours des archéotechnologies.
    Sous la surface d'Uru il y a une guerre entre 2 groupes de technohérétiques.
    Le premier "Temple Libre" cherche des codes engrammiques qui serviraient a désactiver des augmentiques à distance, ce qui peut neutraliser et tuer les technoprêtre et skitarii du système.
    Le deuxième est un groupe de pirate qui a survécu a tout ce que l'Adeptus Mecanicus et le "Temple Libre" a envoyer contre eux.
    Selon les agents de Varonius le chef du groupe de pirates serait une ruchienne nommé Cimbria.
    Elle aurait endocriné son équipage avec un crédo centré autour du culte de "L'Homme de Fer".
    Cet "Homme de Fer" est une vielle relique de plusieurs millénaires qui est officiellement nommé "Automate de siège classe Thanatar-Calix XGL345-3".
    Elle serait capable de parler avec cet automate.

    La forteresse de Kaurthos est la seule strusture à la surface d'Avarchus situé sur le côté de froid extrême.
    C'était la base de la Legio titanique Kaurthus dirigé par Gaius Vastatio (titan de plus de 20 mètres).
    Le fabricator général de la Légio est Ultima Glo Bessor.
    Certains pensent qu'il a fini comme l'état major des Absolvers (qui ont été portés disparus).
    Suite à sa disparition, les forges ont dicter leurs propres règles.
    Tout pris fin avec l'ascensio de Belaxie et l'arrivée de l'Archdomina Aexekra Vakuul.
    Kauradar est quasiment à l'abandon même si elles sont protégées par des bouclier void et des tourelles.
    Des fidèles restent là dans l'attente de leur Fabricator général.


    <h3>NETHREUS</h3>
    Monde Hostile (monde-chevalier)
    ~10 millions hbs
    Beaucoup de volcans avec des secousses tectoniques incessantes.

    Haut-roi Vilmaar XIV de la lignée Acastane

    Les seuls humains vivants sur la planète sont dans des cités-forteresses protégés par des bouclier "Domaines" où il y a les seules plantes vivantes "Racine-Monde".
    Les civils sont dans un état de siège permenant ce qui leurs donne une mentalité propre.
    Les chevalier de la maison Acasta s'entrainent constament (combattants presque suicidaire) contre la mégafaune de la planète qui attaque les domaines protégés par des boucliers Void.
    Des insectoïdes chitieuse, des vers à tête de foreuse et des serpents de 100 mètres.
    Même dans les trains anti-grav et lers cargos aériens la menace est omniprésente.
    Il y a une loyauté féroce dans tous les citoyens de ce monde et es barons jurent tous allégence au Trône Des Coueaux d'Ivoire et toute personne y siège, même si ils il le veulent tous et le pouvoir qui vas avec.

    Jakel Varonius a offert des plantes et l'aide du Mechanicus pour convaincre le roi Vilmaar d'impliquer ses chevalier pour unifier le système.
    Le roi n'as pas mobilisé beaucoup de ses troupes malgré les demandes, ces divers demandes déplaisent aux barons.
    Dans certains domaines on pu apercevoir des émissaires au couleurs du seigneur Taleria Fylamon ou sans allégence particulière.
    De nouvelles éspèce de la méga-faune sont apparuent et sont a l'origine de pertes jamais vu depuis des générations parmis les chevaliers.

    Les chevaliers sont des anciennes combinaisons qui datent d'avant l'imperium, controlables à distance par un pilote via un Trône Mechanicum.
    Les barons sont plus inquiet pour la Charge d'Athros que pour le reste dy système.
    La Charge d'Athros est un évenement majeur de Nethreus où une sous espèce de la mégafaune (les Ophibiens Choboks) attaquent en masses les différents domaines.
    Ils gagneraient en ruse chaque année mais les barons ne souhaitent pas la l'extinction des Choboks parce qu'il sont une grande source de nouriture pour les domaines.
    Si quelqu'un venait a savoir pourquoi les Choboks attaquent les domaines et a les arrêter, elle pourrait se faire des alliés puissants et honorables.


    <h3>OSTIA</h3>
    Agri-Monde
    ~9 milliards hbs
    Climat tempéré.

    Seigneur-Sortium Eshgar Quintillius Lorae

    Cette planètes pleine de forêt, de plaines et d'océans insondable.
    Comme cette planète a une importance capitale pour tous le système elle possède un système de défense composé de satélites de défenses, des batteries orbitales et des stations orbitales surnommées "La Couronne De Lames".
    Tout ce système de défense est occupé par 2 millions d'âmes.
    A la tête d'Ostia, le "Sortium" une hiérarchie de l'Administratum qui rationne la population et sont vénérer par cette dernière (par un jeu de manipulation ecclesiastique et d'assujettissement).
    La population ne s'oppose pas au message et ni au guerrier de l'Aube.
    Des rebels multiplient leurs actes de contestation malgré les nombreuses réprétions.
    Avec l'aide des technoadeptes du culte Mechanicus, ils lobotomisent les rebels capturer pour en faire des Servitors.
    Après avoir été couper du reste de l'Imperium, les Techno-adeptes on créer des Servo-Ferme sauf que personne n'as pu y pénétré pas même le Sortium.
    Eparpillé sur Ostia, de nombreuses ruines en moelle spectrale marquées de runes Aeldari, ruines desquelles personnes de s'approche par peur et croyances folkloriques.
    Ces croyances ont souvent été réprimées par les prédicateurs même si ces dernier temps la Garde Impériale patrouille au abords de certaines ruine où on aurait apperçu des silhouettes virvolter.

    Il y a d'innombrables groupes rebelles et de cultes influencés par les Puissances de la Ruine (comme le culte de Luxuria) utilisant les enregistrement de l'ecclesiarchie.
    Le seigneur de l'Aube veut le meilleur pour tous ses disciples.
    Le culte de Luxuria prêche la satisfaction de tous les sens pour profiter de leurs vie.
    Le culte offre des sensation toujours plus extrême alors qu'il demande de f'effectuer des actes horribles.
    Le Moissonneur est l'un des plus grand moyen de dissuasion contre ces groupe, considéré comme une menace par le Sortium.
    Finial Raslan, ancien Fossoyeur giléadien avant de déserter, créateur des "Gardiens Des Récoltes" un syndicat clandestin.


    <h3>ENOCH</h3>
    Monde-sanctuaire (monde-océan)
    ~1 milliard hbs
    Océans, désert à l'équateur et tundra au pôles.

    Archidiacre Merramar Clade du Synode d'Enoch

    Des reliques et des restes de saints reposent dans les cathédrales et monastères, ce qui attire les pelerins de toutes la galaxie.
    Lors de l'arrivée de la Cicatrix Maledictum des millions de pélerins sont restés bloquer dans le système et son aller sur enoch pour chercher refuge.
    La surpopulation a fait sécrouler les réserves de nouritures et on fait augmenter la criminalité.
    Les riches et adeptes de haut rang se cachent dans des bastions fortifié alors que la population se révolte et meurt de faim.
    L'Astra Militarum, les forces de sécurités et l'Adepta Sororitas protègent ces bastions et les pélerins.
    Les différents sanctuaires de la saint Julyana gilead, l'archange de l'Empereur Tygranus Dalir et du roi Farlin III sont encore préservé des menaces.
    La famine créer des cultes de cannibales, contrebandiers renégats et xenos se croisent dans les bidonvilles.

    L'Ordre du Bouclier Sanctifié de l'Adepta Sororitas basé sur Enoch continue de défier les hérétiques.
    Il y a toujours des membres des Absolvers pour protéger le sanctuaire de Tygranus Dalir leurs premier maître.
    La Chambre militante de l'Ordo Xenos se trouve sur le pôle nord, où il en reste quelques agents.

    Avec l'aide de certains Agents des force de sécurité les chefs de gangs mettent la main sur la majorité des rations.
    Les Epreuves Voraces sont un nouveau moyen de divertissement et de recrutement pour les gangs et les fores de sécurités.
    Ces épreuves sont des conbats de gladiateurs qui verra le vainceur avoir de la nouriture.
    Si les gladiateurs font de très bonnes performances, ils sont invités a rejoindre les Gangers ou les Force de Sécurité.
    Dans les ruines des cathédrales, des prières sont faites à ceux qui veulent bien les écouter et parfois avoir des réponses.

    Les peuples indigènnes d'Enoch sont regroupés dans des villages de pêcheurs fortifiés le long des côtes, protéger pars des Servitor d'armes.
    Suite a l'arrivée de la grande faille, la vie marine a évoluée et les techniques de pêche des enochéens avec.
    La réquisition des résultats de la pêche par l'ecclesiarchie fait monter une révolte parmis les pêcheurs.
    Inge Xenia, une intérrogatrice, a trouver des traces de chaire recousues et d'altérations biologiques dans la faune.
    Elle cherche de l'aide pour éviter des désastres qui peuvent frapper tout le système.


    <h3>GILEAD PRIMUS</h3>
    Monde-Ruche (19 cités-ruches)
    ~16 milliards hbs
    plaines désertiques et sans vies

    Seigneur Militant Taleria Fylamon

    Capitale du système Gilead.
    Des villes-minières et stations-étapes abandonnées parsèment la planètes.
    La plus grandes des cités-ruches est Impensus.
    Il y a des squelettes massifs de carnosaures jonchent les déserts de la planètes.
    Plus on monte dans l'échelon politique plus on atteint les étages les plus hauts de la ruche avec les avantages et l'air pure qui va avec.
    Les milliards d'ouvriers travail dans des conditions horribles dans les manufactorums pour soffrir un peut de nourriture et d'ari pure.
    Le plateau de basse orbite Brassyl est la seule structure visible depuis la surface, une immense structure flottante datant du moyen-age technologique.
    Sur ce même plateau on trouve des cathédrales dorées où se trouve les cardinaux-confesseurs du Ministorum et des petits domaines luxueux dans lesquelles habitent les hauts fonctionnaires de l'Administratum.
    Toutes les technologies présentent sur Brassyl sont entretenues par des membres privilégiés du Méchanicus.
    Gilead Primus à 5 lunes invisibles de la surface à cause des nuages polluants et radioactifs.

    <h4>ANVAL</h4>
    Un processeur de minerai, un manufactorum supermassif et une usine chimique.

    <h4>SKAELAS</h4>
    Une mine plus grande qu'Anval, avec un complexe pénitentiaire.
    Cette lune possède une gravitée très élevée.
    Les gardes Ogryn de la prison prennent parfois part à des assauts de Taleria Fylamon.

    <h4>STAINSHOLD</h4>
    Une lune fortifié où se trouve le régiment de la Garde Impériale des Fossoyeurs Giléadiens.
    Ils s'entrainent sous l'oeil du seigneur Militant.

    <h4>DAEDALON</h4>
    Une lune cimetière présidé par le Ministorum et une commanderie de Sororitas du Bouclier Sanctifié.

    <h4>IMPERIA</h4>
    Lune doré où habitent les maitres les plus riches, les matriarches et matriarches et les héritiers de lignées nobles.
    Dans les palais-nobles on retourve les seigneurs généraux impériaux et descendants des maisons Omincara et Taliandru de la Navis Nobilite.
    Fylamon habite sur cette lune dans sur le site du palais savré de Julyana Gilead.
    A côté de toute cette opulence se dresse le bastion de l'inquisition et une forteresse de l'Ordo Hereticus.

    L'ordo Hereticus traques les cultes de Slaanesh qui se cachent dans les maison nobles des ruches, quand l'Ordo Xenos chassent les cultes Genestealer des ruches.
    D'après des rumeurs des Traitors Astartes pillent les caravanes de transporteurs à chenilles entre les différentes ruches.
    Sauf que les plus grandes menaces sont les différents complots politiques des nobles.

    Le Fort Grigori est une légendes caché dans les tempêtes du pôle sud.
    Les Absolvers ont étendu leurs garnison sur Gilead Primus à un Apothecarion complet.

    De nombreuses maison nobles ont perdu pouvoirs et argents après l'arrivée de la grande faille.
    Certaines d'entres elles sont engagées dans des activités crimineles.
    La maison Lonf Ko, mécène des arts, "découvre" régulièrement de nouvelles sculptures Aeldari.
    La maison Morven vend discrètement des appareils et artéfacts qui peuvent êtres qualifié de technohérésie.
    La maison Kaylar serait liée a une salle de vente au enchères clandestines où ont achète et vend des psykers, trouver des preuves les implicants est une mission fatale pour les enquêteurs.


    <h2>L'ETENDUE DU VIDE</h2>
    <h3>CHARYBDION</h3>
    Monde-Ruche (monde-océan)
    ~4 milliards hbs
    Iles rocheuses, longues falaise et récifs massifs

    Gouverneur Ganthet Veneratio

    L'orbite de Charybsion marque la frontière entre les mondes du noyau et le reste du système.
    Les océans de cette planètes regorges de créatures monstrueuses et de citées ruches qui s'acroches au rares roches qui se surélèvve du niveau de la mère et d'autres s'enfoncent dans les eaux sombres.
    Charybdion est une ressource militaire primordiale pour tout le système avec ses raffineries de prométhium, ce sont des temples-machines scéllés dans le fond des océnas.
    Suie à la grande faille, les contre-courants ont été agité ce qui à endomagé les murs et innondé les installations.
    Les Magos du Mechanicus demande l'aide de mercenaires pour affronter les profondeurs des océans afin de remonter les technologies perdues.
    La ruche capitale de la planète est reliée à une tour nommé Ironwatch dans laquelle on traite et contient des psykers.
    Cette tour est devenu un endroit abominale au cours des dernières décénnies à cause de l'acumulations de psykers sans cesse plus nombreux.

    Au coeur de ces immences océans il y a le Poisson-Monde la forme de vie la plus titanesque de la planète (30mx100m).
    Presque toute les parties de ce poisson-monde sont utiliser pour diverse choses.
    Son sang ces encore plus inflammable que le prométhium brut.
    D'anciens contes disent que des marins corrompus qui se baignent dans le sang des poinsson-mondes.
    Une rumeurs parle d'un navire, le Tarsis, sillone les océans de Charybdion pour récupérer le sang de Poinsson-Monde.
    Il peut être déguisé en chalutier ou un vaisseau sous-marin construit avec la carcasse d'un poison-monde.

    <h3>LE BOURBIER DU VIDE</h3>
    C'est une région très dangeureuse où les tempêtes warp vont et viennent continuellement.
    Des vaisseaux morts, des débris de mondes brisés, des éclats d'astériodes et des paysages xenos dérivent dans les hauts-fonds de l'espace.
    Pour naviguer dans cette région il faut les plus talenteux des navigateurs et des équipages pour réussire les transitions entre l'Empyrée et le monde réel à chaque instant.
    Des hérétiques au service des légions renégates attendent parmis les vaisseaux abandonné en attendant de prendre des navires en embuscade, voir même faire des raids sur les mondes du noyau.
    Les hérétiques ne sont pas les maitres de cette région mais les xenos avec la princesse d'Emeraude Ferianwyr, une reine corsaire avec l'aide de sa Coterie des Corsaires de Vert-Acier.
    Un accord existe entre Ferianwyr et Varonius, et tous les vaisseaux sans le pavillon Varonius se font piller par la flotte de corsaire.

    Dans cette région se cache une installation dirigée par une technoprêtre, Magos Genetor Mulvae Wot, au milieu des débris flottant.
    Les Genetors sont aussi appelés Magos Biologis, ils considèrent les organisment biologiques comme "Machines Vivantes" et on autant de valeur que les machines métalliques.
    Elle était autrefois spécialisée dans la découverte de secret biologique xenos, maintenant elle se défini comme "jardinière résignée".
    L'installation est axée sur la création d'éspèce végétale pour réussir à nourir le système entier.
    La Magos Wot et on équipe travaille dans cet endroit très inhospitalier pour disimuler leurs secret, utiliser la dilatation du temps de la grande faille pour la croissance des plantes.
    Etant donné le caractère hérétique se ses recherche, elle ne répond pas au divers demande de résultat de Varonius qui se font de plus en plus insitantes.
    Ferianwyr et sa flotte gardent un oeil sur la Magos, ils lui permettent de continuer leurs recherche contre les offres d'aliments rares.
    La princesse envoie régulièrement des agents pour la surveiller sauf qu'il finissent par participer à leurs éxpériences ou par mourir.

    <h3>PERSEPHONE'S REGRET</h3>
    C'est un Space Hulk colossale qui regorge de trésor et de menaces en tous genre.
    Investi massivement par les orks et les Genestealers pour s'entretuer depuis des siècles.
    Tout ce qui s'approche de cette structure fini inexorablement, planète comme vaisseau, par être réduis a néant.

    <h2>LES MONDES EXTERIEURS</h2>
    La grande faille à fait apparaitre 2 nouvelles planètes dans le système Gilead.

    <h3>VULKARIS</h3>
    Elle possède encore une atmosphère mais est infesté de peste.
    Les villes sont aujourd'hui peuplées de mutants d'anciens citoyens impérieux.
    A la place des temples pour l'Empreur, il y a des sanctuaires pour Nurgle.
    En orbite il y a les vrais maitres de ce monde, des vaisseaux de la XIV legion Astartes, la Death Guard qui en veulent bien plus.

    Dans la flotte Varonius, il y a un débat sur le sort de la planète étant donné les faibles moyens humains et matériels.
    Des vaisseaux espions se sont approchés de la flottilles death guard et on fait état d'une contagion métalique qui peut créer des brèches et faire sombré les vaisseaux sur la planète.
    Deux camps s'opposent dans la flotte Varonius, attaquer immédiatement ou pensent que le "Cuivre Rouillé" est une ruse du dieu de la peste, pour le moment Varonius attend et observe la situation.

    <h3>TROLLIUS</h3>
    Un ancien monde-ruche emprisonné sous les glaces.
    Les équipes d'explorations de ses anciennes citées ruche ont fait mentions de "mauvais rêves" et depuis connaissent "l'hospitalité" de l'inquisition.

    Le vaisseau-monde Ul-Khari était sur la trajectoire de la planète et à subit beaucoup de dégâts suite à cette incident.
    Les grands prophètes d'Ul-Khari on conclu un accords avec Jakel.
    Ils vivent désormais à la surface de la planètes dans les domes de leurs vaisseaux monde.

    Le givre de la planète de déplace a une vitesse surnaturelle et entour tout ce qui reste immobile trop longtemps.
    Les rapports des Aeldari font pension d'une "Résonnace Emotionnelle" du givre.
    Certains Aeldari sont devenus sauvages et voraces à cause d'une sorte de maladie.
    Varonius est tiraillé entre aider les Aeldari ou non, à cause de l'inquisition, pour les nombreuses ressources que les citées ruches peuvent abritées.
</p>















<style>
    .bouton {
        border: 1px solid white;
        background-color: black;
        color: white;
    }
</style>