<button class="bouton" onclick="location.href='@Url.Action("EmployeursListe", "WrathAndGlory")'">Employeurs <img src="~/Images/Employeur.png" height="30" width="30" /></button>

<button class="bouton">Système Gilead <img src="~/Images/Systeme_Solaire.png" height="30" width="30" /></button>

<button class="bouton" onclick="location.href='@Url.Action("Bestiaire", "WrathAndGlory")'">Bestiaire <img src="~/Images/Bestiaire.png" height="30" width="30" /></button>


<h1 style="width:fit-content;" class="align-mid">SYSTEME GILEAD</h1>

<h3 style="width:fit-content;margin-top:50px;" class="mx-auto d-block">LES MONDES DU NOYAU</h3>

<div class="container row mx-auto">
    <div onclick="location.href='@Url.Action("Avachrus", "WrathAndGlory")'" style="cursor:pointer;width:fit-content;" class="col-2 mx-auto d-block">
        <img src="~/Images/WrathAndGLory/Avachrus.jpg" style="border-radius:15px;" width="200" height="200"  class="mx-auto d-block"/>
        <label class="align-mid" style="width: fit-content; font-weight: bold; font-size: 25px; ">AVACHRUS</label>
    </div>

    <div onclick="location.href='@Url.Action("Nethreus", "WrathAndGlory")'" style="cursor:pointer;width:fit-content;" class="col-2 mx-auto d-block">
        <img src="~/Images/WrathAndGLory/Nethreus.jpg" style="border-radius:15px;" width="200" height="200"  class="mx-auto d-block"/>
        <label class="align-mid" style="width:fit-content;font-weight:bold;font-size:25px;">NETHREUS</label>
    </div>

    <div onclick="location.href='@Url.Action("Ostia", "WrathAndGlory")'" style="cursor:pointer;width:fit-content;" class="col-2 mx-auto d-block">
        <img src="~/Images/WrathAndGLory/Ostia.jpg" style="border-radius:15px;" width="200" height="200"  class="mx-auto d-block"/>
        <label class="align-mid" style="width: fit-content; font-weight: bold; font-size: 25px; ">OSTIA</label>
    </div>

    <div onclick="location.href='@Url.Action("Enoch", "WrathAndGlory")'" style="cursor:pointer;width:fit-content;" class="col-2 mx-auto d-block">
        <img src="~/Images/WrathAndGLory/Enoch.jpg" style="border-radius:15px;" width="200" height="200"  class="mx-auto d-block"/>
        <label class="align-mid" style="width: fit-content; font-weight: bold; font-size: 25px; ">ENOCH</label>
    </div>

    <div onclick="location.href='@Url.Action("GileadPrimus", "WrathAndGlory")'" style="cursor:pointer;width:fit-content;" class="col-2 mx-auto d-block" >
        <img src="~/Images/WrathAndGLory/GileadPrimus.jpg" style="border-radius:15px;" width="200" height="200"  class="mx-auto d-block"/>
        <label class="align-mid" style="width: fit-content; font-weight: bold; font-size: 25px; ">GILEAD PRIMUS</label>
    </div>
</div>
<hr style="color:white;width:60%; height:5px;" class="d-block mx-auto"/>


<h3 style="width:fit-content;margin-top:50px;" class="mx-auto d-block">L'ÉTENDU</h3>

<div class="container row mx-auto">
    <div onclick="location.href='@Url.Action("Charibdion", "WrathAndGlory")'" style="cursor:pointer;width:fit-content;" class="col-2 mx-auto d-block">
        <img src="~/Images/WrathAndGLory/Charibdion.jpg" style="border-radius:15px;" width="200" height="200"  class="mx-auto d-block"/>
        <label class="align-mid" style="width: fit-content; font-weight: bold; font-size: 25px; ">CHARIBDION</label>
    </div>

    <div onclick="location.href='@Url.Action("BourbierDuVide", "WrathAndGlory")'" style="cursor:pointer;width:fit-content;" class="col-2 mx-auto d-block">
        <img src="~/Images/WrathAndGLory/BourbierDuVide.jpg" style="border-radius:15px;" width="200" height="200" class="mx-auto d-block"/>
        <label class="align-mid" style="width: fit-content; font-weight: bold; font-size: 25px; ">LE BOURBIER DU VIDE</label>
    </div>

    <div onclick="location.href='@Url.Action("PersephonesRegret", "WrathAndGlory")'" style="cursor:pointer;width:fit-content;" class="col-2 mx-auto d-block">
        <img src="~/Images/WrathAndGLory/PersephonesRegret.jpg" style="border-radius:15px;" width="200" height="200"  class="mx-auto d-block"/>
        <label class="align-mid" style="width: fit-content; font-weight: bold; font-size: 25px; ">PERSEPHONE'S REGRET</label>
    </div>
</div>
<hr style="color:white;width:60%; height:5px;" class="d-block mx-auto"/>

<h3 style="width:fit-content;margin-top:50px;" class="align-mid">LES MONDES EXTÉRIEURS</h3>

<div class="container row mx-auto">
    <div onclick="location.href='@Url.Action("Vulkaris", "WrathAndGlory")'" style="cursor:pointer;width:fit-content;" class="col-2 mx-auto d-block">
        <img src="~/Images/WrathAndGLory/Vulkaris.jpg" style="border-radius:15px;" width="200" height="200"  class="mx-auto d-block"/>
        <label class="align-mid" style="width: fit-content; font-weight: bold; font-size: 25px; ">VULKARIS</label>
    </div>

    <div onclick="location.href='@Url.Action("Trollius", "WrathAndGlory")'" style="cursor:pointer;width:fit-content;" class="col-2 mx-auto d-block">
        <img src="~/Images/WrathAndGLory/Trollius.jpg" style="border-radius:15px;" width="200" height="200"  class="mx-auto d-block"/>
        <label class="align-mid" style="width: fit-content; font-weight: bold; font-size: 25px; ">TROLLIUS</label>
    </div>
</div>
























<style>
    .bouton{
        border: 1px solid white;
        background-color: black;
        color: white;
    }
</style>